<!-- templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}Together Transcendence <3{% endblock %}</title>
</head>

<body>
  <nav>
      <a href="/" onclick="route()">Home</a>
      <a href="/pong" onclick="route()">Pong</a>
      <a href="/tetris" onclick="route()">Tetris</a>
      <a href="/account" onclick="route()">Account</a>
  </nav>
  <main>
    {% block content %}
    {% endblock %}
  </main>
    <script src="{% static 'js/router.js' %}"></script>
</body>

</html>

