<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}The best transcendence yet inshallah{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<img src="{{ user.avatar.url }}" alt="{{ user.username }}">
<p>{{ user.username }}!! Thanks for being here and thanks for your soul 🤌! <a href="{% url 'password_change' %}">change password</a></p>
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">GTFO (log out)</button>
</form>
{% else %}
<p>Vous n'êtes pas login non 🥖</p>
<p><a href="{% url 'login' %}">Let's change this (log in)</a> | <a href="{% url 'signup' %}">Sign up</a></p>
{% endif %}
{% endblock %}
