<!-- templates/home.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}The best transcendence yet inshallah{% endblock %}

{% block content %}
<div class="content"></div>
<p>Hey <span class="player">you</span>! Thy play <a href="{% url 'pong' %}">pong</a> or <a href="{% url 'tetris' %}">tetris</a>? </p>
<p>I am so happy that you are here <span class="player"></span>...</p>
<p>Let me say your name a few more times :-) <span class="player"></span>! <span class="player"></span>! <span class="player"></span>!</p>

<script src="{% static 'script.js' %}"></script>
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}
