{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Together Transcendence <3</title>
</head>

<body>
	<nav>
		<h1> Navigation </h1>
		<ul>
			<li><a href="/" data-link>Home</a></lili>
			<li><a href="/pong" data-link>Pong</a></li>
			<li><a href="/tetris" data-link>Tetris</a></li>
			<li><a href="/chat" data-link>Chat</a></li>
			<li><a href="/account" data-link>Account</a></li>
		</ul>
	</nav>
	<script src="{% static 'globals.js' %}"></script>
	<script src="{% static 'utils.js' %}"></script>
	<script src="{% static 'pong/pong.js' %}"></script>
	<script src="{% static 'api/api.js' %}"></script>
	<script src="{% static 'matchmaking.js' %}"></script>
	<script src="{% static 'tetris/tetris.js' %}"></script>
	<script src="{% static 'chat/chat.js' %}"></script>
	<script src="{% static 'accounts/auth.js' %}"></script>
	<script src="{% static 'spa.js' %}"></script>
	<script src="{% static 'puppetTest.js' %}"></script>
	<script src="{% static 'script.js' %}"></script>
	<main id="content">
	</main>
</body>

</html>
