@media (max-width: 991px) {
	.navbar-scroll {
		background-color: #fff;
	}

	.navbar-scroll,
	.navbar-scroll .nav-link,
	.navbar-scroll .fa-bars {
		color: #4f4f4f !important;
	}

	.navbar .nav-link:hover,
	.navbar .nav-link:focus,
	.navbar .nav-link:active {
		color: #000000 !important;
	}
}

.navbar-scroll,
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
	color: #FDFFFE;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link:active {
	color: #E0E0E0;
}

.navbar-scroll {
	box-shadow: none;
}

.navbar-scrolled {
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.navbar-scrolled .navbar-brand,
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
	color: #4f4f4f;
}

.navbar-scrolled {
	background-color: #fff;
}

.display-1 {
	font-weight: 500 !important;
	letter-spacing: 40px;
}

@media (min-width: 1600px) {
	.display-1 {
		font-size: 10rem;
	}
}

.main-content {
	transition: margin-top 0.3s ease-in-out;
}

.custom-jumbotron-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.custom-jumbotron {
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	padding: 2rem;
	border-radius: 15px;
	color: #FDFFFE;
	text-align: center;
	max-width: 800px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.custom-jumbotron .btn{
	background-color: #007bff;
	border: none;
}

.custom-jumbotron h1,
.custom-jumbotron p {
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.custom-jumbotronTetris {
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	padding: 2rem;
	border-radius: 15px;
	color: #FDFFFE;
	text-align: center;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	width: 50%;
    max-width: 900px;
    margin: auto;
}

#tetrisCard {
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 15px;
	color: #FDFFFE;
	text-align: center;
	max-width: 800px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

#listItemTetris {
	background-color: #0b204d !important;
	color: #FDFFFE !important;
}

.terisLanding {
    width: 80%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

#tetrisCard {
    max-height: 300px;
    overflow-y: auto;
}

#infoList {
	margin: 0 !important;
}

@media (max-width: 768px) {
    .terisLanding {
        width: 90%;
        max-width: none;
    }

    #tetrisCard {
        max-height: 250px;
    }
}

#tetrisCard::-webkit-scrollbar {
    width: 8px;
}

#tetrisCard::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.tetrisButton {
	background-color: #0B204D;
	background-color: #0b204d !important;
	color: #FDFFFE !important;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

#tournamentRow {
	margin: 0.5em !important;
}

.custom-jumbotronChat {
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	padding: 2rem;
	border-radius: 15px;
	color: #FDFFFE;
	text-align: center;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
	width: 75%;
    max-width: 1000px;
}

#chatCard {
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 15px;
	color: #FDFFFE;
	text-align: center;
	max-width: 650px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

#chatCard {
    max-height: 500px;
    overflow-y: auto;
}

@media (max-width: 600px) {
    #chatCard {
        max-height: 250px;
    }
}

#chatCard::-webkit-scrollbar {
    width: 8px;
}

#chatCard::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

#chatFormBody {
	color: #FDFFFE !important;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3) !important;
}

.myMessage {
	color: #FDFFFE !important;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3) !important;
	background-color: #0B204D !important;
}

.theirMessage {
	color: #FDFFFE !important;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3) !important;
	background-color: #408FF8 !important;
}

.custom-jumbotron-stats {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 15px;
    color: #FDFFFE;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 75%;
    max-width: 1000px;
    min-height: 200px;
    max-height: 600px;
}

#tab {
	overflow-y: auto;
    height: 600px;
	table-layout: fixed;
}

#tab thead th {
	position: sticky;
	top: 0px;
}

#tab td:first-child {
	max-width: 200px;
}

#statsTable td th {
	vertical-align: left;
	padding: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.tableItem{
	border-collapse: collapse;
	width: 100%;
	background: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
	color: #FDFFFE !important;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3) !important;
}

.tableItem td {
	padding: .5rem .5rem;
}

#personal-stats-wrapper::-webkit-scrollbar {
    width: 8px;
}

#personal-stats-wrapper::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.custom-jumbotron-pong-tournament {
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	padding: 2rem;
	border-radius: 15px;
	color: #FDFFFE;
	text-align: center;
	max-width: 1000px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	max-height: 900px;
	overflow-y: auto;
	color: #FDFFFE !important;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3) !important;
}

.formTextInput {
	color: #FDFFFE !important;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3) !important;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 0.375rem;
	padding: 5px;
	border-color: transparent;
	height: 100%;
}

.formTextInput:focus  {
	color: #FDFFFE !important;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3) !important;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 0.375rem;
	padding: 5px;
	border-color: transparent;
	height: 100%;
}

.activeNav {
	color: #FDFFFE !important;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3) !important;
	background-color: #0B204D !important;
}

.inactiveNav {
	background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
	color: #FDFFFE !important;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3) !important;
	text-decoration: none;
    color: inherit; 
}

.custom-jumbotron-settings {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 15px;
    color: #FDFFFE;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 75%;
    max-width: 1000px;
    min-height: 200px;
    max-height: 800px;
}